body{
  background: #252526;
  height: 100%;
}

.coding-image{
  top: -2px;
  position: relative;
}

.main-page-container{
  min-height: 100%;
  margin: 40px 200px 40px;
  display: grid;
  color: #214fe0;
}

.main-page-container h1{
  font-size: 28px;
}

.main-page-container p{
  text-align: justify;
}

.row_1{
  display: inline-flex;
}

.row_1 div{
  max-width: 450px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  background: #252526;
}

.row_1 div:first-child{
  margin-right: 40px;
}

.row_2{
  display: inline-flex;
  padding-top: 30px;
}

.row_2 div:first-child{
  margin-right: 40px;
}

.row_2 div{
  max-width: 450px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  background: #252526;
}

.about-us h1{
  text-decoration: underline;
}

.about-us p{
  text-align: justify;
}




header{
  position: sticky;
  top: 0;
  background: #000000;
  z-index: 3;
}
header::after{
  content: '';
  display: block;
  clear: both;
}
.logo{
  // background: url('../adet_logo.png');
  float: left;
}
.nav-unit{
  float: right;
  width: 85%;
  height: 100px;
  margin: 0 auto;
}
.nav-unit ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-unit li{
  text-transform: uppercase;
  display: flex;
}
.nav-unit a:hover{
  color: #ffffff;
}
.nav-unit a:hover::before{
    width: 100%
}

.nav-unit a::before{
  content:'';
  display: block;
  height: 5px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  top: 0;
  width: 0%
}
.nav-unit a{
  padding-top: 48px;
  margin-left: 75px;
  color: #ffffff;
  text-decoration: none;
}






footer{
  position: relative;
  bottom: 0;
  width: 100%;
  background-color:  #000000;
}

.footer-unit{
  width: 75.5%;
  height: 200px;
  margin: 0 auto;
}

.footer-unit ul{
  padding-top: 25px;
}

.footer-unit li{
  list-style-type: none;
}

.footer-unit a{
  margin-right: 75px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
.footer-unit p{
  margin-left: 35px;
  padding-top: 20px;
  font-size: 12px;
  color: #ffffff;
}